<html>
    <head>
        <title>
            JB Toy Balloons
        </title>
        <script src="jquery.js"></script>
        <link rel=stylesheet href="style.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
        
        <script>
            $(document).ready(()=>{
              
            })
        </script>
    </head>

    <body>
        <div class="contain-all">
            <div class="main">
                 
            </div>
        </div>
        
        <footer id="copyright">
            <p>&copy;2019 by JBroqueza Toy Balloons Inc.</p>
        </footer>
    </body>
</html>