<html>
    <head>
        <title>
            JB Toy Balloons
        </title>
        <link rel="stylesheet" href="style.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <script src="jquery.js"></script>
        
        <script>
            $(document).ready(function(){
                $("#logo").click(function(){
                    $("#homeform").submit()
                })
                
                $("#Home").click(function(){
                    $("#homeform").submit()
                })
                
                $("#Services").click(function(){
                    $("#servform").submit()
                })
                
                  $("#AbtUs").click(function(){
                    $("#aboutform").submit()
                })
                
                  $("#Contact").click(function(){
                    $("#contactform").submit()
                })
                
                $("#reg").click(function(){
                    $("#regform").submit()
                })
                 
                $("#login").click(function(){
                    $("#logform").submit()
                })
            })
        </script>
    </head>
    <body>
        <header class="HeadFoot">
            <ul id="left-nav">
                <li id="logo"><img src="logo.png" id="logo"></li>          
            </ul>
            
            <ul id="center-nav">
                <li id="Home">Home</li>
                <li id="Services">Services</li>
                <li id="AbtUs">About Us</li>
                <li id="Contact">Contact Us</li>
            </ul>
            
            
            <ul id="right-nav">
                <p id="frEmp">For Employees:</p>
                <li id="login">Log In</li>
                <li id="reg">Register</li>
                
            </ul>
        </header>
        
        <div class="contain-all">
            <div class="main">
                <div class="service_container">
                    <h1>Welcome to JB Toy Balloons &amp; Party Needs!</h1>
                    <h2>RENTAL SERVICES</h2>
                    <div class="serv_img_cont1">
                        <div class="serv_img_cont2">
                            <h3>Chairs</h3>
                            <img class="serv_img" src="https://static.wixstatic.com/media/d88c8c_1fb4c2c247044ad2b1ee02366703d897~mv2_d_3448_5168_s_4_2.jpg/v1/fill/w_350,h_350,al_c,q_80,usm_0.66_1.00_0.01/d88c8c_1fb4c2c247044ad2b1ee02366703d897~mv2_d_3448_5168_s_4_2.webp">
                            <img class="serv_img" src="https://static.wixstatic.com/media/d88c8c_63cd7f497d8f41fba65bf4e29649b770~mv2_d_3448_5168_s_4_2.jpg/v1/fill/w_350,h_350,al_c,q_80,usm_0.66_1.00_0.01/d88c8c_63cd7f497d8f41fba65bf4e29649b770~mv2_d_3448_5168_s_4_2.webp">  
                            <img class="serv_img" src="https://static.wixstatic.com/media/d88c8c_f876e566bb304005b801ef060eaa1c72~mv2.png/v1/fill/w_623,h_623,al_c,lg_1,q_85/d88c8c_f876e566bb304005b801ef060eaa1c72~mv2.webp"> 
                            <img class="serv_img" src="https://static.wixstatic.com/media/d88c8c_4dc6de98c45148fba03b1d1a715e7018~mv2_d_3389_4630_s_4_2.jpg/v1/fill/w_350,h_350,al_c,q_80,usm_0.66_1.00_0.01/d88c8c_4dc6de98c45148fba03b1d1a715e7018~mv2_d_3389_4630_s_4_2.webp">
                            <img class="serv_img" src="https://static.wixstatic.com/media/d88c8c_de31d7558a2b4db8976b27d7fafaf2fd~mv2_d_4581_3372_s_4_2.jpg/v1/fill/w_350,h_350,al_c,q_80,usm_0.66_1.00_0.01/d88c8c_de31d7558a2b4db8976b27d7fafaf2fd~mv2_d_4581_3372_s_4_2.webp"> 
                        </div>
                        <div class="serv_img_cont2">
                            <h3>Tables</h3>
                            <img class="serv_img" src="https://static.wixstatic.com/media/d88c8c_61e5aa787ee944b0b93b36d2beb2195c~mv2_d_3319_4974_s_4_2.jpg/v1/fill/w_623,h_623,al_c,q_85,usm_0.66_1.00_0.01/d88c8c_61e5aa787ee944b0b93b36d2beb2195c~mv2_d_3319_4974_s_4_2.webp">
                            <img class="serv_img" src="https://static.wixstatic.com/media/d88c8c_f889104d205e498eb9efccde9caaab00~mv2_d_3322_4979_s_4_2.jpg/v1/fill/w_623,h_623,al_c,q_85,usm_0.66_1.00_0.01/d88c8c_f889104d205e498eb9efccde9caaab00~mv2_d_3322_4979_s_4_2.webp">
                            <img class="serv_img" src="https://static.wixstatic.com/media/d88c8c_a425b6071b574e10a1b257290016c282~mv2_d_5016_3347_s_4_2.jpg/v1/fill/w_623,h_623,al_c,q_85,usm_0.66_1.00_0.01/d88c8c_a425b6071b574e10a1b257290016c282~mv2_d_5016_3347_s_4_2.webp">
                            <img class="serv_img" src="https://static.wixstatic.com/media/d88c8c_7b2a48f12ff54b5699277fabc3bd8d7f~mv2_d_3448_5168_s_4_2.jpg/v1/fill/w_623,h_935,al_c,q_85,usm_0.66_1.00_0.01/d88c8c_7b2a48f12ff54b5699277fabc3bd8d7f~mv2_d_3448_5168_s_4_2.webp">        
                        </div>
                        <div class="serv_img_cont2">
                            <h3>Tents</h3>
                            <img class="serv_img" src="https://static.wixstatic.com/media/d88c8c_4138cb9812ea4ceca5929a5c8f926409~mv2_d_5760_3840_s_4_2.jpg/v1/fill/w_623,h_414,al_c,q_85,usm_0.66_1.00_0.01/d88c8c_4138cb9812ea4ceca5929a5c8f926409~mv2_d_5760_3840_s_4_2.webp">
                            <img class="serv_img" src="https://static.wixstatic.com/media/d88c8c_de34094b59bf44179ec5f86f917a222a~mv2_d_5760_3840_s_4_2.jpg/v1/fill/w_623,h_414,al_c,q_85,usm_0.66_1.00_0.01/d88c8c_de34094b59bf44179ec5f86f917a222a~mv2_d_5760_3840_s_4_2.webp">
                        </div>
                    </div>
                    
                    <h2>Other Services</h2>
                    <h3>Function Rooms</h3>
                    <h3>Hotspring Resort</h3>
                </div>
            </div>
        </div>
          
         <form action="home" id="homeform" >
            <input type="hidden">
        </form>
        
        <form action="Services" id="servform" >
            <input type="hidden">
        </form>
        
        <form action="aboutUs" id="aboutform" >
            <input type="hidden">
        </form>
        
        <form action="contactUs" id="contactform" >
            <input type="hidden">
        </form>
        
        <form action="register" id="regform">
                <input type="hidden">
        </form>
        
        <form action="login" id="logform">
                <input type="hidden">
        </form>
        
        <footer id="copyright">
            <p>&copy;2019 ALL RIGHTS RESERVED. JB TOY BALLOONS</p>
        </footer>
    </body>
</html>